/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none;}
img{vertical-align: top;}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button{font-weight:400;font-size:16px;line-height:1.5;font-family: -apple-system,system-ui,Helvetica,Apple SD Gothic Neo,Arial,Malgun Gothic,sans-serif;letter-spacing:-0.05em;color:#000}
a{color:#000;text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}